.blob-container {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 9999;
}

.blob-main {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
  user-select: none;
  cursor: default;
}

.blob {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  will-change: transform;
}
.inner-dot {
  position: absolute;
}
.blob-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
}
canvas.blob-cursor {
  pointer-events: none;
  position: fixed;
  inset: 0;
  z-index: 9999;
}
